@keyframes Banner_IconMore__NF1ni {
    0% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    25% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    50% {
        opacity: .8;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    80% {
        opacity: 1;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    to {
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }
}

.Banner_banner___eWFl {
    width: 100%;
    height: 408px;
    background: #0a0025;
    min-width: 1200px
}

.Banner_banner___eWFl .Banner_main__r3eRj {
    width: 1200px;
    min-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_banner_left__PLbTL .Banner_title__kCUgA {
    font-size: 24px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #fff;
    line-height: 33px;
    margin-top:82px; 
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_banner_left__PLbTL .Banner_desc__dbHKn {
    width: 642px;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #fff;
    line-height: 26px;
    margin-top: 17px;
    letter-spacing: .5px
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_learn_more_btn___rZpy {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 48px;
    font-size: 14px;
    color: #fff;
    background-color: #c9161d;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 60px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_learn_more_btn___rZpy:hover {
    background: #db434e
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_banner_right__Nhmj1 {
    position: relative;
    width: 445px;
    height: 445px;
    margin-top: -28px
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_banner_right__Nhmj1 .Banner_banner_rotate_bg__C2w_A {
    width: 445px;
    height: 445px;
    animation: Banner_Rotate__ggf2I 8s linear infinite
}

.Banner_banner___eWFl .Banner_main__r3eRj .Banner_banner_right__Nhmj1 .Banner_banner_rotate_main__6_N1R {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%)
}

@keyframes Banner_Rotate__ggf2I {
    0% {
        transform: rotate(0)
    }

    to {
        transform: rotate(-1turn)
    }
}



.Header_header__Swdfg {
    display: block;
    width: 100%
}

.Header_header__Swdfg,.Header_header__Swdfg .Header_header_con__KSN1q {
    height: 72px;
    background: #fff;
    min-width: 1260px;
    margin: 0 auto;
    position: relative;
    z-index: 999
}

.Header_header__Swdfg .Header_header_con__KSN1q {
    -webkit-backdrop-filter: blur(3px);
    backdrop-filter: blur(3px);
    display: flex;
    align-items: center;
    width: 1260px
}

.Header_header__Swdfg .Header_logo__9142h {
    margin-right: 50px;
    margin-top: 5px
}

.Header_header__Swdfg .Header_learn_more_btn__bnVB7 {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 172px;
    height: 48px;
    font-size: 14px;
    color: #fff;
    background-color: #c9161d;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none
}

.Header_header__Swdfg .Header_learn_more_btn__bnVB7:hover {
    background: #db434e
}

.Header_header__Swdfg .Header_nav__6uPIS {
    position: relative;
    z-index: 999!important
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_line__nw9Jy {
    position: absolute;
    width: 71px;
    height: 3px;
    background: #c9161d;
    left: 42px;
    bottom: 0;
    transition: all .5s
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_span__OPrSL {
    display: flex
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_span__OPrSL span {
    display: block;
    width: 150px;
    height: 72px;
    font-size: 16px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #262626;
    line-height: 72px;
    cursor: pointer;
    transition: all .3s;
    text-align: center
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI {
    position: absolute;
    z-index: 999!important;
    transform: translateX(-50%);
    left: 50%;
    top: 72px;
    background: #fff;
    border: 2px solid #e5e5e5;
    display: flex
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_one__bOV11 {
    padding: 40px 65px 56px 69px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_one__bOV11 .Header_icon__WptZ6 {
    margin-bottom: 10px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_one__bOV11 h3 {
    font-size: 16px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: #666;
    line-height: 29px;
    margin-bottom: 11px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_one__bOV11 p {
    width: 272px;
    font-size: 12px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #777;
    line-height: 17px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo {
    background: rgba(0,0,0,.02);
    padding-top: 40px;
    padding-bottom: 38px;
    position: relative;
    min-width: 406px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo:before {
    position: absolute;
    content: "";
    right: 0;
    top: 50%;
    transform: translateY(-50%);
    width: 1px;
    height: calc(100% - 20px);
    background-color: #e5e5e5
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo .Header_nav_child_item__MubC8 {
    padding: 7px 56px 10px 64px;
    box-sizing: border-box;
    cursor: pointer
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo .Header_nav_child_item__MubC8.Header_active__jKlnI {
    background: rgba(0,0,0,.05);
    position: relative
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo .Header_nav_child_item__MubC8.Header_active__jKlnI:after {
    position: absolute;
    content: "";
    right: 0;
    top: 0;
    width: 3px;
    height: 88px;
    background: #c9161d
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo .Header_nav_child_item__MubC8 h3 {
    width: 286px;
    height: 22px;
    font-size: 16px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: #666;
    line-height: 29px;
    margin-bottom: 12px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_left__NQUwo .Header_nav_child_item__MubC8 p {
    width: 289px;
    height: 37px;
    font-size: 12px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #777;
    line-height: 17px;
    margin-top: 6px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI ul li {
    cursor: pointer
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-left: 40px;
    margin-top: 40px;
    width: 757px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li {
    width: 319px;
    margin-right: 53px;
    margin-bottom: 8px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li:hover h3,.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li:hover p {
    color: #c9161d!important
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li a {
    color: #777;
    display: flex
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li a .Header_icon__WptZ6 {
    margin-right: 12px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li a .Header_text__ygBd0 h3 {
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #555;
    margin-bottom: 8px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_right__yUkQr li a .Header_text__ygBd0 p {
    font-size: 12px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #777;
    margin-bottom: 50px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu {
    display: flex;
    padding: 54px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul {
    display: flex;
    flex-wrap: wrap;
    width: 420px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li {
    margin-right: 39px;
    margin-bottom: 30px;
    width: 161px;
    height: 44px;
    border: 1px solid #ededed;
    border-radius: 8px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li a {
    display: flex;
    align-items: center;
    justify-content: center
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:first-of-type .Header_icon__WptZ6 {
    width: 79px;
    height: 19px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:nth-of-type(2) .Header_icon__WptZ6 {
    width: 89px;
    height: 19px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:nth-of-type(3) .Header_icon__WptZ6 {
    width: 84px;
    height: 26px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:nth-of-type(4) .Header_icon__WptZ6 {
    width: 134px;
    height: 19px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:nth-of-type(5) .Header_icon__WptZ6 {
    width: 86px;
    height: 32px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:hover {
    opacity: .8;
    background: #fafafa
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:hover:last-of-type {
    border: none;
    background: none;
    opacity: 1
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:last-of-type {
    border: none;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #c9161d;
    text-align: center;
    line-height: 44px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:last-of-type .Header_more__SaD7S {
    color: #c9161d;
    font-size: 14px;
    display: flex
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:last-of-type .Header_more__SaD7S:hover .Header_icon__WptZ6 {
    animation: Header_IconMore__ZhVlc .8s linear infinite
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:last-of-type .Header_more__SaD7S .Header_icon_box__pdWOQ {
    width: 22px;
    height: 10px;
    display: block
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu ul li:last-of-type .Header_more__SaD7S .Header_icon__WptZ6 {
    display: block;
    margin-left: 12px;
    background: url(/images/home/icon_right_s.svg) no-repeat;
    background-size: contain;
    background-position: 50%;
    width: 16px;
    height: 10px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu .Header_activity__fyzpi {
    display: block;
    margin-top: -32px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu .Header_activity__fyzpi h4 {
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #c9161d
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu .Header_activity__fyzpi .Header_activity_con__SRL_n {
    transition: all .2s;
    background-size: 100% 100%;
    box-sizing: border-box;
    margin-top: 13px;
    margin-bottom: 8px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu .Header_activity__fyzpi .Header_activity_con__SRL_n:hover {
    transform: scale(.95);
    transition: all .2s
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_cloud_content__Q_peu .Header_activity__fyzpi h5 {
    font-size: 16px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 500;
    color: #555;
    line-height: 22px;
    text-align: center
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_about__fQHw2 {
    display: none;
    padding: 60px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_about__fQHw2 li {
    width: 350px;
    margin-bottom: 15px
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_about__fQHw2 li:hover a {
    color: #c9161d
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_about__fQHw2 li a {
    color: #666;
    display: flex
}

.Header_header__Swdfg .Header_nav__6uPIS .Header_nav_child__s2ciI .Header_nav_child_item_about__fQHw2 li a h3 {
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    margin-bottom: 8px
}

.Header_header__Swdfg .Header_login__zHddc {
    margin-left: 80px;
    width: 78px;
    height: 35px;
    line-height: 35px;
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #fff;
    background-color: #c9161d;
    border-radius: 2px;
    padding: 0 15px;
    box-sizing: border-box
}

.Header_header__Swdfg .Header_login__zHddc:hover .Header_icon__WptZ6 {
    animation: Header_LoginIconMore__TOmQp .8s linear infinite
}

.Header_header__Swdfg .Header_login__zHddc a {
    display: block;
    color: #fff;
    width: 78px;
    height: 35px;
    line-height: 35px;
    display: flex;
    align-items: center
}

.Header_header__Swdfg .Header_login__zHddc .Header_icon__WptZ6 {
    display: block;
    background-size: contain;
    margin-left: 3px;
    width: 16px;
    height: 10px;
    background: url(/images/home/icon_right_active_s.svg) no-repeat
}

.Header_header_phone__Ia7Kp {
    display: none
}



@keyframes Header_IconMore__ZhVlc {
    0% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    25% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    50% {
        opacity: .8;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    80% {
        opacity: 1;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    to {
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }
}

@keyframes Header_LoginIconMore__TOmQp {
    0% {
        background-size: contain;
        margin-left: 3px;
        opacity: 0;
        width: 0;
        height: 10px;
        background: url(/images/home/icon_right_active_s.svg) no-repeat
    }

    25% {
        background-size: contain;
        margin-left: 3px;
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_active_s.svg) no-repeat
    }

    50% {
        background-size: contain;
        margin-left: 3px;
        opacity: 1;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right_active.svg) no-repeat
    }

    to {
        background-size: contain;
        margin-left: 3px;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right_active.svg) no-repeat
    }
}

@keyframes KnowMore_IconMore__lLx5w {
    0% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    25% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    50% {
        opacity: .8;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    80% {
        opacity: 1;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    to {
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }
}

.KnowMore_know_more__1jOCy {
    width: 300px;
    height: 70px;
    display: block;
    line-height: 70px;
    text-align: center;
    background: #c9161d;
    border-radius: 8px;
    font-size: 20px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #fff;
    margin: 60px auto 0
}

.KnowMore_know_more__1jOCy:hover {
    background: #db434e;
    border-radius: 8px
}


