blockquote,body,button,dd,div,dl,dt,fieldset,form,h1,h2,h3,h4,h5,h6,html,img,input,li,ol,p,pre,table,td,textarea,th,ul {
    margin: 0;
    padding: 0;
    border: 0
}

body,html {
    background: #fff;
    font-family: PingFangSC-Regular,PingFang SC,Microsoft YaHei,微软雅黑,Arial,sans-serif
}

dd,dl,dt,li,ol,ul {
    list-style-type: none
}

a,a:hover {
    text-decoration: none
}

img {
    border: none
}

input {
    outline: none
}

#root {
    box-sizing: border-box;
    height: 100%;
    width: 100%
}

:global img {
    -o-object-fit: cover;
    object-fit: cover
}

@font-face {
    font-family: PingFang SC;
    src: url(/_next/static/media/PingFangSCMedium.9ea173f4.woff2) format("woff2"),url(/_next/static/media/PingFangSCMedium.b39886a2.woff) format("woff");
    font-weight: 500;
    font-style: normal;
    font-display: swap
}

.rc-pagination-item-active {
    border-color: #c9161d!important
}

.rc-pagination-item-active a {
    color: #c9161d!important
}

.rc-pagination-item:focus,.rc-pagination-item:hover {
    border-color: #c9161d!important
}

.rc-pagination-item:focus a,.rc-pagination-item:hover a {
    color: #c9161d!important
}

.swiper-container:hover .swiper-pagination-bullet-active>span {
    display: block;
    opacity: 1;
    background-color: hsla(0,0%,100%,.2)!important
}

.swiper-container:hover .swiper-pagination-bullet-active>span i {
    background-color: hsla(0,0%,100%,.8)!important;
    animation: none;
    width: 0
}

.swiper-pagination-bullet {
    width: 50px!important;
    height: 20px!important;
    background: none;
    margin-right: 5px;
    cursor: pointer
}

.swiper-pagination-bullet>span {
    border-radius: 5px!important;
    background-color: hsla(0,0%,100%,.4)!important;
    margin-right: 16px!important;
    margin-left: 0!important;
    overflow: hidden;
    opacity: 1;
    width: 40px!important;
    height: 4px!important;
    display: block
}

.swiper-pagination-bullet>span i {
    display: block;
    height: 4px
}

.swiper-pagination-bullet-active>span {
    display: block;
    opacity: 1;
    background-color: hsla(0,0%,100%,.2)!important
}

.swiper-pagination-bullet-active>span i {
    background-color: hsla(0,0%,100%,.8)!important;
    animation: pagination_start 5s linear;
    border-radius: 2px
}

.swiper-pagination-bullets {
    bottom: 64px!important;
    z-index: 999
}

.swiper-pagination {
    position: relative;
    display: flex;
    justify-content: center
}

.swiper-slide h3,.swiper-slide p {
    transform: translateX(-200px);
    opacity: 0;
    transition: all .4s
}

.swiper-slide a {
    transform: translateY(300px);
    opacity: 0;
    transition: .4s
}

.ani-slide .swiper_bg_img {
    transform: scale(1)!important
}

.ani-slide h3,.ani-slide p {
    transform: translateX(0)!important;
    opacity: 1
}

.ani-slide a {
    transform: translateY(0)!important;
    opacity: 1
}

@keyframes pagination_start {
    0% {
        width: 0
    }

    to {
        width: 100%
    }
}



body {
    min-width: 1405px
}


@keyframes RightBar_IconMore__XL06m {
    0% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(images/icon_right_s.svg) no-repeat
    }

    25% {
        opacity: 1;
        width: 16px;
        height: 10px;
        background: url(/images/home/icon_right_s.svg) no-repeat
    }

    50% {
        opacity: .8;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    80% {
        opacity: 1;
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }

    to {
        width: 22px;
        height: 10px;
        background: url(/images/home/icon_right.svg) no-repeat
    }
}

.RightBar_right_bar__NezuU {
    position: fixed;
    right: 32px;
    top: 50%;
    z-index: 999999
}

.RightBar_right_bar__NezuU ul {
    width: 48px;
    height: 152px;
    background: linear-gradient(317deg,#cc0019,#ff4065);
    border-radius: 24px;
    padding: 2px 0
}

.RightBar_right_bar__NezuU ul li {
    width: 44px;
    height: 44px;
    margin: 0 auto 9px
}

.RightBar_right_bar__NezuU ul li a {
    display: flex;
    justify-content: center;
    align-items: center;
    background-repeat: no-repeat;
    background-position: 50%;
    width: 100%;
    height: 100%;
    position: relative
}

.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 {
    position: absolute;
    width: 233px;
    height: 68px;
    right: 0;
    top: 0;
    z-index: 9999;
    display: none
}

.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 .RightBar_right_bar_bg_con__d1Y17 {
    z-index: 99999;
    position: absolute;
    right: 80px;
    top: 0;
    padding: 12px 22px;
    box-sizing: border-box;
    width: 163px;
    height: 68px;
    background: #fff;
    box-shadow: 0 2px 5px -11px rgba(33,33,33,.02),0 2px 4px 0 rgba(48,48,48,.03),0 2px 5px 4px rgba(31,31,31,.03);
    background-repeat: no-repeat;
    background-position: 50%
}

.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 .RightBar_right_bar_bg_con__d1Y17:after {
    position: absolute;
    top: 40%;
    right: -14px;
    content: "";
    border: 7px solid transparent;
    border-left-color: #fff
}

.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 .RightBar_right_bar_bg_con__d1Y17 h3 {
    font-size: 15px;
    font-family: PingFangSC-Medium,PingFang SC;
    font-weight: 500;
    color: #c9161d;
    line-height: 21px;
    margin-bottom: 5px
}

.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 .RightBar_right_bar_bg_con__d1Y17 p {
    font-size: 14px;
    font-family: PingFangSC-Regular,PingFang SC;
    font-weight: 400;
    color: #888;
    line-height: 14px
}

.RightBar_right_bar__NezuU ul li:hover {
    background: linear-gradient(180deg,#fff0f3,#fff4f5);
    border-radius: 50%
}

.RightBar_right_bar__NezuU ul li:hover .RightBar_right_bar_bg__I5lx9 {
    display: block
}

.RightBar_right_bar__NezuU ul .RightBar_on_line__C2ub0 a {
    background-image: url("on_line.svg")
}

.RightBar_right_bar__NezuU ul .RightBar_on_line__C2ub0:hover a {
    background-image: url("on_line_active.svg")
}

.RightBar_right_bar__NezuU ul .RightBar_qq__09283 a {
    background-image: url("qq.svg")
}

.RightBar_right_bar__NezuU ul .RightBar_qq__09283:hover a {
    background-image: url("qq_active.svg")
}

.RightBar_right_bar__NezuU ul .RightBar_tel__B7hte a {
    background-image: url("tel.svg")
}

.RightBar_right_bar__NezuU ul .RightBar_tel__B7hte:hover a {
    background-image: url("tel_active.svg")
}

.RightBar_right_bar__NezuU .RightBar_feedback__Pw9ui {
    margin-top: 10px;
    width: 48px;
    height: 48px;
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.RightBar_right_bar__NezuU .RightBar_feedback__Pw9ui:hover {
    width: 44px;
    height: 44px;
    background: linear-gradient(180deg,#fff0f3,#fff4f5);
    border-radius: 24px;
    border: 2px solid #cc0019;
    border-radius: 50%
}

.RightBar_right_bar__NezuU .RightBar_feedback__Pw9ui:hover span {
    background-image: url("feedback_active.svg")
}

.RightBar_right_bar__NezuU .RightBar_feedback__Pw9ui span {
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url("feedback.svg")
}

.RightBar_right_bar__NezuU .RightBar_go_top__unKzQ {
    margin-top: 16px;
    width: 48px;
    height: 48px;
    background: #fff;
    box-shadow: 0 2px 5px -11px rgba(33,33,33,.02),0 2px 4px 0 rgba(48,48,48,.03),0 2px 5px 4px rgba(31,31,31,.03);
    border-radius: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer
}

.RightBar_right_bar__NezuU .RightBar_go_top__unKzQ:hover span {
    background-image: url(/images/home/right_bar/back_active.svg)
}

.RightBar_right_bar__NezuU .RightBar_go_top__unKzQ span {
    width: 24px;
    height: 24px;
    display: block;
    background-repeat: no-repeat;
    background-position: 50%;
    background-image: url(/images/home/right_bar/back.svg)
}

.RightBar_feedback_alert__FEeFk {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgba(0,0,0,.3);
    z-index: 888
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU {
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 4px;
    background-color: #fff;
    transform: translate(-50%,-50%);
    z-index: 999
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_title__mysch {
    position: relative;
    height: 39px;
    padding: 0 20px;
    box-sizing: border-box;
    border-bottom: 1px solid #eceef1;
    font-size: 16px;
    text-align: center
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_title__mysch span {
    display: inline-block;
    line-height: 40px;
    vertical-align: middle
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_title__mysch i {
    position: absolute;
    right: 10px;
    top: 4px;
    cursor: pointer;
    font: inherit
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_title__mysch i:after {
    font-size: 20px;
    content: "×"
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR {
    padding: 20px;
    box-sizing: border-box;
    width: 700px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_input_focus__hVBIK,.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_input_text__e5cZz.RightBar_focus__u10__,.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_input_text__e5cZz:focus,.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_textarea__7mE_O:focus {
    border-color: #e2003b!important;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 10px rgba(254,212,223,.8)
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a {
    font-size: 14px;
    padding: 10px 20px 0
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a .RightBar_error_text__VWtK0 {
    margin-bottom: 6px;
    padding: 3px 10px;
    line-height: 20px;
    font-size: 12px;
    color: #e2003b;
    background-color: #fdf4f6
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a .RightBar_advice_tips__TGC8G {
    padding: 12px 20px;
    margin: 20px auto 0;
    border: 1px solid #f2cbd5;
    border-radius: 4px;
    background-color: #fff6f8
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a .RightBar_advice_tips__TGC8G h3,.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a .RightBar_advice_tips__TGC8G p {
    font-size: 12px;
    font-weight: 400;
    color: #e2003b;
    line-height: 18px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_vertify__bO5Li {
    display: flex!important;
    align-items: center;
    margin-top: -20px;
    margin-left: -1px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_vertify_img__F0WkO {
    margin-top: 20px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 {
    display: block;
    margin-bottom: 10px;
    min-height: 28px;
    line-height: 28px;
    color: #4b556a
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4.RightBar_title_width95__phj_5 {
    padding-left: 105px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4.RightBar_title_width95__phj_5 .RightBar_label__7LfFz {
    float: left;
    margin-left: -105px;
    width: 95px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_input_text__e5cZz {
    width: 148px;
    height: 28px;
    line-height: 26px;
    padding: 0 5px;
    border: 1px solid #d4d4d4;
    background-color: #fff;
    color: #4b556a;
    font-size: 14px;
    border-radius: 2px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_textarea__7mE_O {
    min-height: 80px;
    max-height: 280px;
    max-width: 500px;
    min-width: 150px;
    width: 240px;
    padding: 5px;
    border: 1px solid #d4d4d4;
    font-size: 14px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_advice_textarea__QKIkX {
    width: 500px;
    height: 110px!important
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_label__7LfFz {
    display: inline-block;
    line-height: 28px;
    padding-right: 10px;
    text-align: right;
    font-size: 14px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_color_primary__K_Xp3 {
    color: #e2003b
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_mr5__oBge7 {
    margin-right: 5px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_mr8__lwcAL {
    margin-right: 8px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_mr20___4VGE {
    margin-right: 20px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 i {
    display: inline-block;
    font-style: normal
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 i.RightBar_radio__9HIjO {
    display: inline-block;
    position: relative;
    top: -1px;
    width: 8px;
    height: 8px;
    border: 1px solid #e2003b;
    border-radius: 50%;
    background-color: #fff;
    cursor: pointer
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 i.RightBar_radio__9HIjO.RightBar_checked__MILk8 {
    background-color: #e2003b
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 i.RightBar_radio__9HIjO.RightBar_checked__MILk8:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 4px;
    height: 4px;
    margin: auto;
    border-radius: 50%;
    background-color: #fff
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_advice_form__9M50a .RightBar_radio-item__BOL_i {
    white-space: nowrap
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_cp__J1o7e {
    cursor: pointer
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_dis_ib__z6E7S {
    display: inline-block;
    display: flex!important;
    flex-wrap: wrap
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_con__WOqTR .RightBar_advice_form__9M50a form .RightBar_form_group__27mb4 .RightBar_dis_ib__z6E7S span {
    margin-right: 25px
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_footer__mkR3Y {
    height: 70px!important;
    line-height: 70px;
    padding: 10px 20px 20px;
    text-align: center
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_footer__mkR3Y span {
    display: inline-block;
    width: 90px;
    height: 38px;
    line-height: 38px;
    text-align: center;
    vertical-align: middle;
    font-size: 14px;
    color: #e2003b;
    background-color: #fbeff2;
    border-radius: 4px;
    border: none;
    cursor: pointer
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_footer__mkR3Y span.RightBar_disabled__zgWrl {
    color: #d4d4d4;
    background-color: #f3f4f5;
    cursor: no-drop
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_footer__mkR3Y span.RightBar_cancel__5ta8G {
    margin-left: 15px;
    color: #69757d;
    background-color: #f3f4f5
}

.RightBar_feedback_alert__FEeFk .RightBar_feedback_alert_modal__d37zU .RightBar_feedback_alert_footer__mkR3Y span.RightBar_cancel__5ta8G:hover {
    color: #fff;
    background-color: #cbcbd2
}

@media(max-width: 767px)and (max-device-aspect-ratio:1/1)and (max-device-aspect-ratio:1/1) {
    .RightBar_right_bar__NezuU {
        right:12px
    }

    .RightBar_right_bar__NezuU ul {
        width: 48px;
        height: 48px;
        border-radius: 50%;
        box-sizing: border-box;
        background: linear-gradient(317deg,#fff0f3,#fff4f5);
        box-shadow: 0 2px 5px -11px rgba(33,33,33,.02),0 2px 4px 0 rgba(48,48,48,.03),0 2px 5px 4px rgba(31,31,31,.03)
    }

    .RightBar_right_bar__NezuU .RightBar_feedback__Pw9ui,.RightBar_right_bar__NezuU .RightBar_on_line__C2ub0,.RightBar_right_bar__NezuU .RightBar_qq__09283,.RightBar_right_bar__NezuU ul li a .RightBar_right_bar_bg__I5lx9 {
        display: none
    }

    .RightBar_right_bar__NezuU .RightBar_tel__B7hte a {
        background-image: url(/images/home/right_bar/tel_active.svg)!important
    }

    .RightBar_right_bar__NezuU .RightBar_go_top__unKzQ {
        display: none
    }
}





















